.table{
    display: flex;
    flex-direction:row;
    align-items: center;
    padding: 0 5.3rem;

    margin-top: -15rem;

    @include respond(tab-land){
        padding: 0 1rem;
    }

    @include respond(tab-port){
        padding: 0 0;
    }

    @include respond(phone){
        margin-top: -10rem;
    }

    &__item{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-right: 1.6rem;
        list-style: none;
    }

    @include respond(tab-land){
        margin-right: 1rem;
    }

    @include respond(tab-port){
        margin-right: 0;
    }
}